body {
    background-color: darkolivegreen;
    background-image: url("images/sidedecal.png");
}
body {
    font-family: Arial;
    font-size: 20px;
    color: white;
}
    .middle {
        width: 45%;
        margin: auto;
        background-color: darkolivegreen;
        background-image: url("images/sidedecal.png");
    }
        div {
            text-align: center;
          }
